.product-banner {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content: space-around;
  gap: max(3%, 3em);
  padding: max(3%, 3em);

  & > * {
    flex: 1 1 31%;
  }
}

// ShopPage
.product-banner--transparent-background {
  background-color: rgb(black, 80%);
}
