.shop-page {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px);
  gap: 3rem;
  background-color: black;

  background-image: url(../images/adi-goldstein-tech.jpg);
  background-size: cover;

  & > .hero {
    flex: 1;
  }

  & > .product-banner {
    flex: 10;
  }
}
