.shop-page {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  background-image: url(../images/adi-goldstein-tech.jpg);
  background-size: cover;

  &__banner {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(black, 80%);
    justify-content: space-around;
    gap: max(3%, 3em);
    padding: max(3%, 3em);

    & > * {
      flex: 1 1 31%;
    }
  }
}
