.siteHeader {
  height: 9vh;
  background-color: black;
  color: white;
  padding: 1vh;
}

.siteNav {
  height: 100%;
}

.siteNavLinks {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 10px;
  font-weight: bold;
  font-family: sans-serif;
}

.selected {
  text-decoration: underline;
}