.site-header {
  box-sizing: border-box;
  min-height: 100px;
  padding: 10px 5%;

  color: white;
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: space-between;

  & * {
    box-sizing: border-box;
  }

  &__left {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 32px;
  }

  &__right {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  &__logo {
    flex: 1;
    font-size: 30px;
    font-weight: bolder;
  }

  &__nav {
    flex: 9;
  }

  &__nav-list {
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    gap: 32px;

    list-style-type: none;
  }

  &__nav-item {
    font-weight: normal;
    font-size: 20px;
    color: gainsboro;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: -3px;
      left: 0;
      transition: transform 0.25s ease-in-out;
    }
  }

  &__nav-item--selected {
    font-weight: bold;

    &::after {
      background-color: white;
      transform: scaleX(1);
      transform-origin: center;
    }
  }

  &__toggle-cart {
    width: fit-content;
    border: 2px solid white;
    background: none;
    color: white;
    padding: 10px 30px;
    font-size: 16px;
    transition: all ease-in-out 300ms;

    &:hover {
      background-color: rgb(53, 53, 53);
    }
  }
}
